<div class="scroll">
    
<h2>{{title}}</h2>
</div>

<div class="description">
   
    <div class="about-us">
        <h3>Почему именно мы?</h3>
        <p>Knight Frank Russia - единственная международная консалтинговая компания в России, которая является лидером на двух основных рынках: коммерческой и элитной жилой недвижимости. Компания оказывает полный цикл услуг: от исследования рынка и создания концепции проекта, до инвестиционной продажи объектов.</p>
    </div>
    <div class="icons">
       <h3>Knight Frank</h3>
        <div class="icon"><img src="/src/app/img/icons/home.png" alt="house">
            <span>Только качественное жилье</span>
        </div>
        <div class="icon"><img src="/src/app/img/icons/magnifier.png" alt="magnifier">
            <span>Профессиональный поиск</span>
        </div>
        <div class="icon"><img src="/src/app/img/icons/agreement.png" alt="support">
            <span>Постоянная поддержка</span>
        </div>
    </div>
</div>