h2 {
    color: #ed174f;
    font-size: 35px;
    padding: 25px;
    text-align: center;
}

.scroll {
    overflow: hidden;
    height: 270px;
    background: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.description {
    display: flex;
}

.about-us {
    width: 50%;
    padding: 15px;
    color: #ed174f;
}

.icons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ececec;
    background: #ed174f;
}

.icon {
    margin-bottom: 20px;
    padding-left: 20%;
    display: flex;
    align-content: center;
}

p,
span,
h3 {
    text-align: center;
}

h3 {
    margin-bottom: 50px;
    font-size: 27px;
}

span {
    margin-left: 20px;
}


/* Медиа запрос */

@media (max-width: 530px) {
    .description {
        display: flex;
        flex-direction: column;
    }
    .about-us {
        width: 100%;
        color: #ed174f;
        padding: 0;
    }
    .icons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ececec;
        background: #ed174f;
    }
    .icon {
        margin-bottom: 20px;
        padding-left: 10%;
        display: flex;
        align-content: center;
    }
}